
.square {
    width: calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fizz-buzz {
    background-color: #103f16;
}

.fizz {
  background-color:#8711a5;
}

.buzz {
   background-color: rgb(10, 141, 65);
}

.numbers {
  background-color:#113974;
}

